- content_for :title do
  Login to EmployTown

#login-form-container
  .form-title
    %h2 Login
  .signup-login
    %h3 
      Don't have an account?
      = link_to 'Sign Up', signup_path
  
  .form
    = render :partial => 'form'