- content_for :title do
  Login to EmployTown

.form-container.single-column.left
  .form-header Login
  .form-body= render :partial => 'form'
.right-container.right
  .title 
    Don't have an account? &nbsp;&nbsp;
    = link_to 'Sign Up', signup_path, class: 'button'

