%h1 Your Tags

%p
  - @tags.each do |tag|
    = link_to tag.tag, edit_seekers_tag_path(tag) + " "
    = link_to('(delete)', seekers_tag_path(tag), :confirm => 'Are you sure?', :method => :delete) + ", "

= link_to 'New Tag', new_seekers_tag_path  
