- content_for :title do
  Tags

.left
  %h1 Your Tags
.right= render 'form'
.clear
%p
  You can separate your tags by commas to create multiple tags
%h2 You can use tags to give employers more keywords to find you.<br /> (ex. Computer Science, Rails Pro)
%p
  %ul
    - @tags.each do |tag|
      %li
        = link_to tag.tag.capitalize, edit_seekers_tag_path(tag)
        = link_to('(delete)', seekers_tag_path(tag), :confirm => 'Are you sure?', :method => :delete) 
