- content_for :title do
  Tags

%h1 Your Tags
%h2 You can use tags to give employers more keywords to find you.<br /> (ex. Computer Science, Rails Pro)
%p
  Your current tags:

%p
  - @tags.each do |tag|
    = link_to tag.tag, edit_seekers_tag_path(tag) + " "
    = link_to('(delete)', seekers_tag_path(tag), :confirm => 'Are you sure?', :method => :delete) + ", "

%p
  You can separate your tags by commas to create multiple tags 
 
= render 'form'
