$primary: #1e74bb
$secondary: #529EDD
$light_accent: #77AFDD
$dark_accent: #0A477A
$light: #B1D3EB
$background: #f0f0f0

html, body
  margin: 0
  font-family: helvetica, arial, sans-serif

.clear
  clear: both
  
.body
  width: 80%
  margin: 0 auto

.header
  background-color: $light
  padding: 1em
  border-top: solid .4em $dark_accent
  box-shadow: 0 0 5px 2px #aaa
  z-index: -20
  
  ul, li
    margin: 0
    padding: 0
    
  ul
    list-style: none
    
    li
      display: inline-block
      padding: 0 .3em 0 .3em
  
  .nav
    padding: 1em 0 0 0
    float: right
    
    a
      color: $primary
      text-decoration: none
    a:hover
      color: $dark_accent
      text-shadow: 0 1px 0 #eee
  
  h1
    font-size: 3em
    padding: 0
    margin: 0
    float: left
    color: $dark_accent
    text-shadow: 0 1px 0 #eee
    font-weight: 100
    
.container 
  padding: 2em 0 2em 0
  margin: 0 0 4em 0
  
  h1, h2, h3
    margin: 0
    padding: 0
    
  form
    padding: 1em
    
    input[type=text], input[type=password]
      padding: .75em
      border: solid .1em #999
      box-shadow: 0 0 3px #aaa
      margin: 0
    input[type=submit]
      margin-left: 32%
      font-size: 1em
    label
      text-align: right
      padding-right: 1em
      float: left
      width: 30%
      font-size: 1.2em
    
.footer
  padding: 1em 0 1em 0
  border-top: solid .2em $light