/* Standard Variables */

/* Color Variables */
$primary: #0A477A
$secondary: #529EDD
$light_accent: #77AFDD
$dark_accent: #0A477A
$light: #B1D3EB
$background: #f0f0f0
/* Style Variables */
$std_weight: 100

/* Mixins */
@mixin box_shadow($x: 0, $y: 0, $blur: 5px, $spread: 2px, $color: #aaa, $inset: false)
  @if $inset
    -moz-box-shadow: $x $y $blur $spread $color inset
    -webkit-box-shadow: $x $y $blur $spread $color inset
    box-shadow: $x $y $blur $spread $color inset
  @else
    -moz-box-shadow: $x $y $blur $spread $color
    -webkit-box-shadow: $x $y $blur $spread $color
    box-shadow: $x $y $blur $spread $color


  
@mixin std_form_input
  border: solid .1em #999
  box-shadow: 0 0 3px #aaa
  margin: 0
  
@mixin std_button_link
  color: #fff
  font-weight: 300
  
  background: $light
  background: -moz-linear-gradient(top, $light 0%, $light_accent 100%)
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $light), color-stop(100%, $light_accent))
  background: -webkit-linear-gradient(top, $light 0%, $light_accent 100%)
  background: -o-linear-gradient(top, $light 0%, $light_accent 100%)
  background: -ms-linear-gradient(top, $light 0%, $light_accent 100%)
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b1d3eb', endColorstr='#77afdd',GradientType=0 )
  background: linear-gradient(top, $light 0%, $light_accent 100%)
  
  border-bottom: solid 1px $secondary
  border-radius: 7px
  text-shadow: 0 -1px 1px $secondary
  box-shadow: 0 1px 3px $light
  
  font-size: .9em
  padding: .4em .7em .3em .7em

@font-face
  font-family: 'Aleksandra'
  src: url(/fonts/AleksandraC_regular.otf)

@font-face
  font-family: 'Elega'
  src: url(/fonts/Elega_Medium.otf)

/* General Page Styles */
html, body
  margin: 0
  font-family: Aleksandra, helvetica, arial, sans-serif
  background: url(/images/web_pattern3.png)

h1, h2, h3, h4, h5, h6
  font-weight: $std_weight

a
  color: $primary
  text-decoration: none
  &:hover
    color: $dark_accent
    text-decoration: underline

.clear
  clear: both

.right
  float: right

.left
  float: left
  
.body
  width: 80%
  margin: 0 auto
  
  p
    line-height: 140%
    font-weight: $std_weight

.header
  //background-color: $light
  width: 100%
  height: 100px
  .navcontainer
    width: 80%
    margin: 0 auto
    padding-right: 15px
  .topnav
    height: 50px
    //background: #4d4d4c
    background-image: linear-gradient(bottom, rgb(61,61,60) 15%, rgb(77,77,76) 65%)
    background-image: -o-linear-gradient(bottom, rgb(61,61,60) 15%, rgb(77,77,76) 65%)
    background-image: -moz-linear-gradient(bottom, rgb(61,61,60) 15%, rgb(77,77,76) 65%)
    background-image: -webkit-linear-gradient(bottom, rgb(61,61,60) 15%, rgb(77,77,76) 65%)
    background-image: -ms-linear-gradient(bottom, rgb(61,61,60) 15%, rgb(77,77,76) 65%)
    @include box_shadow

    #logo
      width: 350px
      height: 100px
      float: left
      line-height: 2em
      text-align: center
      background: #EEE
      font-family: Elega, helvetica, arial, sans-serif
      @include box_shadow(0, 0, 2px, .5px, #888)
      font-size: 3.4em
      border-radius: 0 0 5px 5px
      a
        color: #788fa8
        text-decoration: none
        &:hover
          //color: $primary
    .quick-nav
      //top: 0
      //right: 10%
      height: 30px
      float: right
      font-size: .9em
      //position: absolute
      //padding: .25em
      //margin: .6em .3em 0 0
      margin: 8px 0
      //border-bottom: solid .3em $dark_accent
      .smallmargin
        margin-left: 10px
      .largemargin
        margin-left: 20px
      .menuitem
        float: left
        height: 30px
        line-height: 2.2em
        font-size: 1.1em
        img
          width: 30px
          height: 30px
          opacity: .7
          &:hover
            opacity: 1
      
        a
          //padding: 0 .2em 0 .2em
          //color: $dark_accent
          //text-shadow: 0 1px 0 #eee
          color: #EEE
          &:hover
            //color: $primary
            text-decoration: none
  .bottomnav
  //position: relative
  //padding: 1.5em 0 1.5em 0
  //border-top: solid 5em #3d3d3c
  //@include box_shadow

  //#3d3d3c
  
  ul, li
    margin: 0
    padding: 0
    
  ul
    list-style: none
    li
      display: inline-block
      font-size: 1.3em
      //padding: 0 0 0 2.5em
      padding: 0 1em
      border-right: 1px dashed $primary
      height: 30px
      line-height: 1.7em
      text-align: center
    .noborder
      border: none
  //#logo
  //  width: 400px
  //  height: 150px
  //  line-height: 2.1em
  //  text-align: center
  //  background: white
  //  font-size: 4em
  //  a
  //    text-decoration: none
  //    &:hover
  //      color: $primary
      
  .nav
    padding: 1.6em 0 0 0
    float: right
    
    a
      color: $primary
      text-decoration: none
      text-shadow: 0 1px 0 #EEE
      padding: 0 .5em
      &:hover
        color: $dark_accent
        text-shadow: 0 1px 0 #eee
        border-bottom: 2px solid $primary

  //h1
  //  font-size: 3.3em
  //  padding: 0
  //  margin: 0
  //  float: left
  //  color: $dark_accent
  //  text-shadow: 0 1px 0 #eee
  //  font-weight: $std_weight
    
  .search
    position: absolute
    bottom: -2.3em
    right: 10%
    input[type=text]
      padding: .40em
      @include std_form_input
    
.container 
  padding: 2em 0 2em 0
  margin: 0 0 4em 0

  .catchphrase
    text-align: center
    margin-top: 100px
    font-size: 3.8em
    text-shadow: 0 1px #eee

  .content
    background: #EEE
    padding: 1em
    border-radius: 5px
    -webkit-box-shadow: 0 0 1px 1px #888
  
  .user, .bidding
    outline: solid 1px $primary
    padding: 1em
    margin: .5em 0 .5em 0
    p
      margin: 0
      padding: 0
    .options
      float: right
      font-weight: $std_weight
      a
        @include std_button_link
    img
      max-height: 75px
      float: left
      padding: 0 1em 0 0
  
  h1, h2, h3
    margin: .5em 0 1em 0
    padding: 0

  .formcontainer
    width: 60%
    margin: 70px auto 0 auto
    .formtitle
      font-size: 2em
    .signup
      margin-top: -20px
    
  form
    margin: 1em 0 1em 0
    padding: 1em
    //width: 60%
    //background-color: $background
    background: #EEE
    font-weight: $std_weight
    //outline: solid .15em $primary
    -webkit-box-shadow: 0 0 1px 1px #888
    -webkit-border-radius: 5px
    //margin: 100px auto 0 auto
    
    input[type=text], input[type=password]
      padding: .75em
      @include std_form_input
      width: 40%
      
    input[type=submit]
      margin-left: 42%
      font-size: 1em
      
    label
      text-align: right
      padding: .25em 1em 0 0
      float: left
      width: 40%
      font-size: 1.2em
    
.footer
  padding: 1em 0 1em 0
  border-top: solid .2em $light
  background-color: $background
  font-weight: $std_weight
  .body
    width: 60%
  
  .triple-column
    width: 30%
    
    ul, li
      margin: 0
      padding: .15em 0 .15em 0
    ul
      list-style: none
      
  #left, #center
    float: left
    
  #center
    margin: 0 5%
    
  #right
    float: right