%h1 Listing Your Current Bids
%p
  - if @interested_biddings.count > 0
    Interested Bids:
    - @interested_biddings.each do |@bidding|
      = render :partial => "interestedbidding"
  - if @biddings.count > 0
    Bids awaiting reply:
    - @biddings.each do |@bidding|
      = render :partial => "bidding"
  - if @uninterested_biddings.count > 0
    Uninterested Bids:
    - @uninterested_biddings.each do |@bidding|
      = render :partial => "bidding"
  - unless @uninterested_biddings.count > 0 or @interested_biddings.count > 0 or @biddings.count > 0
    You currently have no bids
