%h1 Listing biddings

-#%table
-#  %tr
-#    %th employer 
-#    %th Seeker 
-#    %th Date 
-#    %th Comment
-#    %th Interested 
-#    %th  
-#    %th  
-#
-#  - @biddings.each do |bidding|
-#    %tr
-#      %td= bidding.employer_id  
-#      %td= bidding.seeker_id  
-#      %td= bidding.date  
-#      %td= bidding.comment
-#      %td= bidding.interested  
-#      %td= link_to 'Show', employers_bidding_path(bidding)  
-#      %td= link_to 'Edit', edit_employers_bidding_path(bidding)  
-#      %td= link_to 'Destroy', employers_bidding_path(bidding), :confirm => 'Are you sure?', :method => :delete
-#    
-#%br
-#
-#= link_to 'New Bidding', new_employers_bidding_path

- @biddings.each do |@bidding|
  = render :partial => "bidding"