- content_for :title do
  Interested Bids

.bid_header
  %h2.left Bids with interest
  %ul#bid_menu.right
    %li.border= link_to 'Bids Awaiting Response', employers_biddings_path
    |
    %li= link_to 'Not Interested Bids', employers_uninterested_bids_path
  .clear
-if @bids.count > 0
  - @bids.each do |@bidding|
    = render :partial => "bidding"
  %br
- else
  %h3 You have no bids to display

= will_paginate @bids