- content_for :title do
  Sign Up to Begin Using EmployTown

  
.form-container.single-column.wide-label.left
  .form-header Sign Up
  .form-body
    = render 'form'
.right-container.right
  .title 
    Already have an account?
    = link_to 'Login', login_path, class: 'button'
  .body
    .title
      %em Job Seekers
    %ul
      %li Create a profile to gain the attention of employers
      %li Receive offers from employers for jobs
      %li Upload resumes
    %br
    .title
      %em Employers
    %ul
      %li Bid on employees
      %li Recruit those suitable for your needs
      %li Create a company profile to gain the attention of job seekers