- content_for :title do
  Sign Up to Begin Using EmployTown

  
.form-container
  .form-title
    %h2 Sign Up
  .signup-login
    %h3
      Already have an account?
      = link_to 'Login', login_path

  .form
    = render :partial => 'form'