- content_for :title do
  EmployTown

.clear

.content
  %h1 About Us
  
  %p We created EmployTown because we believe that the world needs a people centric, not job centric, platform where people can demonstrate their value and smart bosses from around the country can scout amazing people.

  %h2 Job Seekers

  %p The best leaders and companies know that the strength of their company is dependent on the quality of the people that they hire. YOU are where the value is. Each and every one of us owe it to ourselves to be remarkable, to exercise our creativity to add value to ourselves and to the world. EmployTown is the right place for you if you have the overwhelming desire to make things happen, and to be rewarded and recognized for your work.


  %h2 Job Offerers

  %p Smart bosses and business leaders recognize that a people centric platform filled with remarkable people that they can scout, interact with, and bid on can have gigantic benefits for them. They realize that a simple paper resume may not tell the entire story. You have to go deeper and EmployTown gives them this opportunity.


  %p EmployTown. Create. Share. Be remarkable. We all win