- content_for :title do
  EmployTown

.catch-phrase
  A platform where the best people attract the best employers

.content
  .content_container
    #job_seekers.left
      .title Job Seekers
      .explanation Create a reverse job application
      %ul
        %li Item
        %li Item 2
        %li Item 3
    
    #employers.right
      .title Employers
      .explanation 
        Scout talent and turn your 
        %br
        employees into profit centers
      %ul
        %li Item 1
        %li Item 2
        %li Item 3
        %li Item 4

    .clear
.clear

.talking
  People are talking
  %br
  .quote
    %span.start &#8220;
    This is the most innovative concept in the jobs arena in years.
    %span.end &#8221;
    %br
    .right
      %span.small - Randy Felton
    .clear

-#.how_it_works
-#  .title How it Works
-#  .content
-#    This is how it works. Blah blah blah
-#    %br
-#    Blah Blah Blah
-#    %br
-#    Blah Blah Blah
-#    %br
-#    Blah Blah Blah
-#  .clear
-#.clear

-#.content
-#  %h1 Welcome to EmployTown!
-#  
-#  %h3 Home of The Creative, The Remarkable, and The People Who Make Things Happen.
-#  
-#  %p EmployTown is a reverse job application system where job seekers can showcase their talents and receive employment offers in an -#auction style format.
-#  
-#  %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras rhoncus tellus at felis viverra blandit. Nullam sed erat nec neque -#hendrerit molestie eu a leo. Proin sapien nisl, dictum ac commodo non, varius nec sem. Nulla facilisi. Pellentesque at enim nibh,   nec -#euismod enim. Morbi nec libero neque, et aliquam neque. Maecenas mi orci, aliquam id tempor sed, hendrerit et justo. Aliquam erat -#volutpat. Donec sollicitudin augue id massa cursus molestie.
-#  
-#  %p Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vestibulum tempus lobortis ligula at varius. -#Etiam interdum euismod magna. In molestie, risus nec tincidunt tincidunt, augue purus volutpat tortor, eget pharetra ligula   lectus ac -#neque. Nam sit amet velit leo, vitae commodo sapien. Morbi et nisi purus, non ultricies diam. Donec in velit sit amet nisi mattis convallis. -#Proin tincidunt consequat arcu vel bibendum. Vestibulum erat erat, convallis sed posuere nec, molestie ac  felis. Proin eget eros magna, -#sed mollis lacus.-#