- content_for :title do
  EmployTown


.catch-phrase Where remarkable people attract amazing companies
.content
  .job_seekers.left
    .title
      Job Seekers
    .subtitle
      Create a reverse job application
    %ul
      %li Attract desirable companies to make employment offers.    
      %li Eliminate wasting time sending resumes to job postings that go no where.
      %li Demonstrate your true employable value beyond a paper resume.
  
  .employers.right
    .title
      Employers
    .subtitle
      Scout talent and turn your employees into profit centers
    %ul
      %li Save time and money and eliminate posting jobs on boards and sorting through poorly matched resumes.
      %li Find employees who will provide extreme value and transform your company.
      %li Eliminate job descriptions to streamline the hiring process.
  .clear

.talking
  People are talking
  %br
  %span.quote-left &#8220;
  %span.saying This is the most innovative concept in the jobs arena in years.
  %span.quote-right &#8221;
  %br
  %span.small.right - Randy Felton