- content_for :title do
  EmployTown

.catch-phrase
  Where remarkable people attract amazing companies

#titles
  .title.left Are you a job seeker?
  .title.right Are you an employer?
  .clear
.content
  .content_container
    #job_seekers.left
      .explanation 
        Create a reverse job application
        %br
        &nbsp;
      %ul
        %li Attract desirable companies to make employment offers.    
        %li Eliminate wasting time sending resumes to job postings that go no where.
        %li Demonstrate your true employable value beyond a paper resume.
    
    #employers.right
      .explanation 
        Scout talent and turn your 
        %br
        employees into profit centers
      %ul
        %li Save time and money and eliminate posting jobs on boards and sorting through poorly matched resumes.
        %li Find employees who will provide extreme value and transform your company.
        %li Eliminate job descriptions to streamline the hiring process.
    .clear
.clear

.talking
  People are talking
  %br
  .quote
    -#%span.start &#8220;
    .quote-left &#8220;
    .saying This is the most innovative concept in the jobs arena in years.
    -#%span.end &#8221;
    .quote-right &#8221;
    %br
    .right
      %span.small - Randy Felton
    .clear

-#.how_it_works
-#  .title How it Works
-#  .content
-#    This is how it works. Blah blah blah
-#    %br
-#    Blah Blah Blah
-#    %br
-#    Blah Blah Blah
-#    %br
-#    Blah Blah Blah
-#  .clear
-#.clear

-#.content
-#  %h1 Welcome to EmployTown!
-#  
-#  %h3 Home of The Creative, The Remarkable, and The People Who Make Things Happen.
-#  
-#  %p EmployTown is a reverse job application system where job seekers can showcase their talents and receive employment offers in an -#auction style format.
-#  
-#  %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras rhoncus tellus at felis viverra blandit. Nullam sed erat nec neque -#hendrerit molestie eu a leo. Proin sapien nisl, dictum ac commodo non, varius nec sem. Nulla facilisi. Pellentesque at enim nibh,   nec -#euismod enim. Morbi nec libero neque, et aliquam neque. Maecenas mi orci, aliquam id tempor sed, hendrerit et justo. Aliquam erat -#volutpat. Donec sollicitudin augue id massa cursus molestie.
-#  
-#  %p Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vestibulum tempus lobortis ligula at varius. -#Etiam interdum euismod magna. In molestie, risus nec tincidunt tincidunt, augue purus volutpat tortor, eget pharetra ligula   lectus ac -#neque. Nam sit amet velit leo, vitae commodo sapien. Morbi et nisi purus, non ultricies diam. Donec in velit sit amet nisi mattis convallis. -#Proin tincidunt consequat arcu vel bibendum. Vestibulum erat erat, convallis sed posuere nec, molestie ac  felis. Proin eget eros magna, -#sed mollis lacus.-#