- content_for :title do
  Edit Your Company Info

- if flash[:error]
  = render :partial => 'layouts/flash', :locals => {:flash => flash}

#edit-company-container
  .form-title Edit Your Company Info
  %br
  .form
    = render 'form'   


