.bidding
  .options
    =link_to "Interested", root_url
    =link_to "Not Interested", root_url
  = image_tag @bidding.employer.photo.url(:thumb)
  %p= link_to(@bidding.employer.to_s, seekers_user_path(@bidding.employer)) + " @ " + link_to(@bidding.employer.company.name, seekers_company_path(@bidding.employer.company)) + " is interested in your skills."
  %p= @bidding.comment
  .clear
