.bidding
  .options
    Change your mind?
    =link_to "Not Interested", not_interested_seekers_bidding_path(@bidding.id)
  = image_tag @bidding.employer.photo.url(:thumb)
  %p= @bidding.employer.to_s + " @ " + link_to(@bidding.employer.company.to_s, seekers_company_path(@bidding.employer.company)) + " is interested in your skills."
  %p= mail_to @bidding.employer.email, "Send an Email"
  %p= @bidding.comment
  .clear
