%h1 Search for potential employees

- unless params[:search].blank?
  - if @users.count == 0 and @tags.count == 0
    No users found with that search criteria
  -else
    - unless @users.count == 0
      - for @user in @users
        = render :partial => "user"
    - unless @tags.count == 0
      - for @tag in @tags
        = render :partial => "tag"
  