%h1 Search for potential employees
=render 'form'

- unless params[:search].blank?
  - unless @users.count == 0
    - for user in @users
      User Name:
      = user.first_name
      = user.last_name
      <br />
