$std_weight: 100;
$std_font_family: Exo, helvetica, arial, sans-serif;
$secondary_font_family: 'Advent Pro', helvetica, arial, sans-serif;

/* Color Variables */
$body_background: #F2F2F2;
$form_background: #FFF;
$primary: #0A477A;
$secondary: #529EDD;
$light: #B1D3EB;
$light_final_gradient: #77AFDD;
$light_initial_gradient: #B1D3EB;
$primary_background: #EEE;
$light_text_accent: #EEE;
$dark_initial_gradient: #4D4D4C;
$dark_final_gradient: #3D3D3C;
$light_grey: #F2F2F2;
$dark_grey: #E3E3E3;
$button: #1FAEEB;
$button_border: #118EC3;
$dark_background: #181818;
$red_error: #b94a48;
$border_color: #DDD;
$bulb_red: #FF5240;
$bulb_green: #30C150;
$bulb_border_red: #BF3D30;
$bulb_border_green: #5A995A;
$bulb_grey: #CCC;

/* Mixins */
@mixin box_shadow($x: 0, $y: 0, $blur: 5px, $spread: 2px, $color: #aaa, $inset: false) {
  @if $inset {
    -moz-box-shadow: $x $y $blur $spread $color inset;
    -webkit-box-shadow: $x $y $blur $spread $color inset;
    box-shadow: $x $y $blur $spread $color inset;
  } @else {
    -moz-box-shadow: $x $y $blur $spread $color;
    -webkit-box-shadow: $x $y $blur $spread $color;
    box-shadow: $x $y $blur $spread $color;
  }
}

@mixin border_radius($radius: 4px) {
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
  border-radius: $radius;
  behavior: url(PIE.htc);
}

@mixin linear_gradient($point, $start_color, $start_percent, $end_color, $end_percent) {
  background: linear-gradient($point, $start_color $start_percent, $end_color $end_percent);
  background: -o-linear-gradient($point, $start_color $start_percent, $end_color, $end_percent);
  background: -moz-linear-gradient($point, $start_color $start_percent, $end_color $end_percent);
  background: -webkit-linear-gradient($point, $start_color $start_percent, $end_color $end_percent);
  background: -webkit-gradient(linear, $point, color-stop($start_percent, $start_color), color-stop($end_percent, $end_color));
  background: -ms-linear-gradient($point, $start_color $start_percent, $end_color $end_percent);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='$start_color', endColorstr='$end_color');
}

.disabled {
  opacity: 0.5;
}

:-moz-placeholder {
  font-style: italic;
  font-weight: 100;
}

.bulb {
  height: 10px;
  width: 10px;
  float: left;
  margin: 3px 10px 0 0;
  @include border_radius(50%);
}
.bulb.accepted {
  background: $bulb_green;
  border: 1px solid $bulb_border_green
}
.bulb.declined {
  background: $bulb_red;
  border: 1px solid $bulb_border_red
}
.bulb.not-responded {
  background: $bulb_grey;
  border: 1px solid #AAA;
}

body.admin {
  .header {
    background: $dark_background;
    .header-container {
      width: 1000px;
      margin: 0 auto;
      padding: 15px;
    }
    .logo {
      font-size: 30px;
      line-height: 30px;
      font-family: $secondary_font_family;
      a {
        color: #666;
        &:hover {
          color: #666;
          text-decoration: none;
        }
      }
    }
    /* Nav Styles */
    .navbar {
      margin-bottom: 0;
      position: relative;
      top: 6px;
      a.navitem, .dropdown-toggle {
        color: #666;
        font-size: 20px;
        &:hover {
          color: #CCC;
        }
      }
      a.navitem {
        margin: 0 0 0 0;
        padding: 3px 20px 3px 20px !important;
        border-right: 1px solid #333;
      }
      .dropdown-toggle {
        margin: 0;
        padding: 0 !important;
      }
      .dropdown {
        padding: 3px 0;
        margin-left: 20px;
        .dropdown-menu {
          padding: 5px 0;
        }
      }
    }
  }
  .form-container {
    border: 1px solid $border_color;
    @include border-radius(2px);

    .input {
      margin-bottom: 20px;
      label, .url-label, .caption {
        width: 220px;
      }
      label, .caption {
        display: block;
        text-align: right;
        float: left;
        margin-right: 10px;
      }
      label { 
        font-size: 16px;
      }
      .caption {
        font-size: 13px;
      }
      .url-label {
        display: block;
        float: left;
        text-align: right;
        margin-right: 10px;
        position: relative;
        top: 11px;
      }
      textarea {
        width: 450px;
      }
      .field_with_errors {
        display: inline;
        input {
          border: 1px solid $red_error;
        }
      }
      .field_with_errors + label, .field_with_errors + .url-label {
        color: $red_error;
      }
    }
    input[type=text], input[type=password] {
      width: 300px;
    }
    .input.checkbox {
      margin-top: 10px;
    }
    .input.photo-field {
      margin-bottom: 0;
      margin-top: 10px;
      border-top: 1px solid #BBB;
      padding-top: 5px;
      input[type=file] {
        width: 185px;
      }
    }
    .input.no-caption {
      label {
        position: relative;
        top: 11px;
      }
    }
    .input.no-caption.select {
      label {
        position: relative;
        top: 3px;
      }
    }
    .photo {
      border: 1px solid #BBB;
      border-top: 0;
      padding: 15px 15px 5px;
      position: relative;
      bottom: 15px;
      min-height: 120px;
    }
    .submit {
      margin-left: 230px;
    }
  }
  .search {
    margin-bottom: 20px;
  }
  .records-count {
    font-size: 20px;
  }
  .records-count.border-bottom {
    border-bottom: 1px solid $border_color;
    padding-bottom: 20px;
    margin-bottom: 20px;
  }
  .result, .bid {
    padding: 10px 10px 10px 20px;
    background: white;
    @include border-radius(2px);
    border: 1px solid $border_color;
    margin-bottom: 20px;
    font-size: 20px;
    span.action-button {
      margin-right: 20px;
      font-size: 16px;
      position: relative;
      line-height: 50px;
    }
    .info {
      padding: 15px 0;
      img.social{
        margin-left: 8px;
        position: relative;
        top: -2px;
        opacity: .5;
        -webkit-transition: opacity .5s;
        -moz-transition: opacity .5s;
        -o-transition: opacity .5s;
        transition: opacity .5s;
        &:hover {
          opacity: 1;
        }
      }
    }
    .image {
      width: 50px;
      img {
        float: right;
      }
    }
    .detailsBox {
      padding: 20px 0 0;
      .photo {
        margin: -10px 10px 10px 0;
      }
      table {
        border-top: 1px solid $border_color;
        width: 785px;
        margin: 10px 0;
        td {
          padding: 10px;
          a.small-link {
            font-size: 16px;
          }
        }
        td.border {
          border-right: 1px solid $border_color;
          padding: 0;
        }
        td.border-bottom {
          border-bottom: 1px solid $border_color;
        }
        td.no-left-padding {
          padding-left: 0;
        }
      }
    }
  }
  .container {
    width: 1000px;
    margin: 20px auto;
  }
  .filters {
    width: 200px;
    background: white;
    padding: 20px;
    border: 1px solid $border_color;
    @include border_radius(2px);
    .filter-title {
      font-size: 20px;
      border-bottom: 1px solid $border_color;
      padding-bottom: 10px;
      margin-bottom: 10px;
    }
    ul {
      list-style-type: none;
      margin: 0;
      li {
        padding: 5px 10px;
        border-left: 2px solid white;
      }
      li.current {
        border-left: 2px solid #999;
      }
    }
  }
  .bids {
    width: 740px;
    .no-bids {
      font-size: 30px;
      margin-top: 20px;
      text-align: center;
    }
    .bid {
      table {
        width: 530px;
      }
      span.cancel {
        margin-right: 30px;
        font-size: 15px;
      }
    }
  }
  .footer {
    margin-top: -50px;
  }
  .push {
    height: 50px;
  }
}