$std_weight: 100;
$std_font_family: Exo, helvetica, arial, sans-serif;
$secondary_font_family: 'Advent Pro', helvetica, arial, sans-serif;

/* Color Variables */
$body_background: #F2F2F2;
$form_background: #FFF;
$primary: #0A477A;
$secondary: #529EDD;
$light: #B1D3EB;
$light_final_gradient: #77AFDD;
$light_initial_gradient: #B1D3EB;
$primary_background: #EEE;
$light_text_accent: #EEE;
$dark_initial_gradient: #4D4D4C;
$dark_final_gradient: #3D3D3C;
$light_grey: #F2F2F2;
$dark_grey: #E3E3E3;
$button: #1FAEEB;
$button_border: #118EC3;
$dark_background: #181818;
$arrow_color: #555;

/* Mixins */
@mixin box_shadow($x: 0, $y: 0, $blur: 5px, $spread: 2px, $color: #aaa, $inset: false) {
  @if $inset {
    -moz-box-shadow: $x $y $blur $spread $color inset;
    -webkit-box-shadow: $x $y $blur $spread $color inset;
    box-shadow: $x $y $blur $spread $color inset;
  } @else {
    -moz-box-shadow: $x $y $blur $spread $color;
    -webkit-box-shadow: $x $y $blur $spread $color;
    box-shadow: $x $y $blur $spread $color;
  }
}

@mixin border_radius($radius: 4px) {
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
  border-radius: $radius;
}

@mixin linear_gradient($point, $start_color, $start_percent, $end_color, $end_percent) {
  background: linear-gradient($point, $start_color $start_percent, $end_color $end_percent);
  background: -o-linear-gradient($point, $start_color $start_percent, $end_color, $end_percent);
  background: -moz-linear-gradient($point, $start_color $start_percent, $end_color $end_percent);
  background: -webkit-linear-gradient($point, $start_color $start_percent, $end_color $end_percent);
  background: -webkit-gradient(linear, $point, color-stop($start_percent, $start_color), color-stop($end_percent, $end_color));
  background: -ms-linear-gradient($point, $start_color $start_percent, $end_color $end_percent);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='$start_color', endColorstr='$end_color');
}

/* General Page Styles */
html, body {
  margin: 0;
  font-family: $std_font_family;
  background: $light_grey;
  height: 100%;
  width: 100%;
  font-size: 1em;
}

h1, h2, h3, h5, h6 {
  font-weight: $std_weight;
}

a {
  color: $primary;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

i {
  margin-top: 3px;
}

.clear {
  clear: both;
}

.right {
  float: right;
}

.left {
  float: left;
}

/* Position Styles */
.marginTop20 {
  margin-top: 20px;
}
  
.body {
  margin: 0 auto;
  color: #333;
  .content-container {
    width: 1000px;
    margin: 0 auto;
  }
  
  p {
    line-height: 140%;
    font-weight: $std_weight;
  }
}

.required {
  color: red;
}

.alert {
  padding-top: 15px;
  padding-bottom: 15px;
}

.button {
  font-size: 1em;
  background: $button;
  border: 1px solid $button_border;
  padding: 7px 10px;
  color: white;
  @include border_radius(3px);
  &:hover {
    opacity: .8;
  }
}
input[type=submit] {
  font-family: $std_font_family;
}
a.button {
  color: white !important;
  &:hover {
    text-decoration: none;
  }
}

/* Arrows */
.arrow-right {
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid $arrow_color;
  margin: 4px 15px 0 0;
}

.arrow-down {
  width: 0;
  height: 0;
  border-top: 5px solid $arrow_color;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  margin: 7px 10px 0 0;
}

/* Form styles */
body.main {
  .form-container {
    background: white;
    padding: 0 20px;
    .form-header {
      font-size: 25px;
      text-align: center;
      padding: 20px 0 15px;
      border-bottom: 1px solid #BBB;
    }
    .form-body {
      padding: 15px 0;
      .form-spacer {
        width: 214px;
      }
      .input {
        margin-bottom: 20px;
        label, .caption {
          display: block;
          width: 200px;
          text-align: right;
          float: left;
        }
        label { 
          font-size: 1em;
        }
        .caption {
          font-size: .8em;
        }
        input, textarea {
          margin-left: 20px;
          margin-right: 5px;
        }
        textarea {
          width: 435px;
        }
        .url-label {
          font-size: 1em;
          width: 195px;
          display: inline-block;
          text-align: right;
        }
      }
      .input.radioButton {
        margin-bottom: 40px;
      }
      input[type=submit] {
        font-size: 17px;
        background: $button;
        border: 1px solid $button_border;
        padding: 10px 8px;
        @include border_radius(3px);
        color: white;
        &:hover {
          opacity: .8;
        }
      }
      .submit {
        margin-left: 87px;
      }
    }
  }
  .form-container.single-column {
    width: 450px;
    margin: 20px 0;
    border-right: 1px solid #CCC;
    .input {
      label, .caption {
        width: 150px;
      }
    }
  }
  .form-container.single-column.wide-label {
    label, .caption {
      width: 180px;
    }
  }
  .right-container {
    padding: 40px 20px 20px;
    width: 450px;
    .title {
      font-size: 25px;
    }
    .body {
      margin-top: 40px;
      font-size: 16px;
      .title {
        font-size: 20px;
      }
      em {
        margin-top: 10px;
      }
      ul {
        margin-top: 10px;
        li {
          margin-left: 20px;
        }
      }
    }
  }
  .header {
    width: 1000px;
    margin: 0 auto;
    padding: 10px 0;

    .topnav {
      width: 100%;
      padding-bottom: 10px;
      .social-icon {
        opacity: .5;
        -webkit-transition: opacity .5s;
        -moz-transition: opacity .5s;
        -o-transition: opacity .5s;
        transition: opacity .5s;
        &:hover {
          opacity: 1;
        }
      }
    }

    .bottomnav {
      padding: 0 5px;
      a, #logo {
        color: #888;
        &:hover {
          text-decoration: none;
        }
      }
      #logo {
        font-family: $secondary_font_family;
        font-size: 40px;
        span.bold {
          font-weight: bold;
          color: #666;
          margin-left: -10px
        }
      }
      ul.menu {
        list-style-type: none;
        li {
          padding-top: 5px;
          margin-left: 30px;
          font-size: 18px;
          a {
            &:hover {
              color: #333;
            }
          }
        }
      }
    }
  }
  .container {
    // padding-bottom: 200px;
    background: white;
    border: 1px solid #DDD;
    @include border_radius(2px);
    width: 1000px;
  }

  p.search_phrase {
    font-size: 1.5em;
    text-align: center;
    margin-top: 40px;
  }
  .catch-phrase {
    text-align: center;
    font-size: 35px;
    padding: 40px 0 55px;
  }
  .content {
    margin: 0 30px;
    @include border_radius(2px);
  }
  .job_seekers, .employers {
    padding: 25px;
    width: 419px;
    border-top: 1px solid #DDD;
    border-bottom: 1px solid #DDD;
    .title {
      font-size: 28px;
    }
    .subtitle {
      font-size: 16px;
      color: #777;
      padding: 12px 0 20px;
    }
    ul {
      font-size: 16px;
      li {
        margin-bottom: 10px;
      }
    }
  }
  .job_seekers {
    background: $light_grey;
    border-left: 1px solid #DDD;
  }
  .employers {
    background: $dark_grey;
    border-right: 1px solid #DDD;
  }
  .talking {
    font-size: 2.3em;
    margin: 40px auto 0;
    text-align: center;
    .quote-left {
      font-size: 100px;
      position: relative;
      top: 50px;
    }
    .saying {
      font-size: 22px;
    }
    .quote-right {
      font-size: 100px;
      position: relative;
      top: 60px;
    }
    span.small {
      font-size: 20px;
      line-height: 50px;
      margin: 10px 120px 0 0;
    }
  }
  .push {
    height: 198px;
  }
  .footer {
    margin-top: -200px;
    clear: both;
    height: 150px;
    min-width: 1050px;
    background: $dark_grey;
    border-top: 1px solid #CCC;
    .footer-container {
      margin: 0 auto;
      height: 110px;
      width: 1000px;
      padding: 20px 0;
      .company {
        font-family: $secondary_font_family;
        font-size: 40px;
        color: #888;
        margin: 35px 0 0 30px;
        span.bold {
          font-weight: bold;
          color: #666;
          margin-left: -10px;
        }
      }
      .slogan {
        color: #888;
        margin: 15px 0 0 50px;
        font-size: 18px;
      }
      .right {
        margin: 15px 30px 0 0;
        font-size: 20px;
        a {
          color: #555;
          &:hover {
            color: #333;
            text-decoration: none;
          }
        }
        ul.links {
          list-style-type: none;
        }
        .facebook img {
          width: 12px;
          height: 12px;
          position: relative;
          bottom: 2px;
          margin-right: 10px;
        }
        .twitter img {
          width: 22px;
          height: 22px;
          position: relative;
          bottom: 2px;
          right: 5px;
        }
        i {
          position: relative;
          top: 3px;
          margin-right: 8px;
        }
        .facebook, .twitter {
          margin-top: 10px;
        }
      }
    }
  }
}

/* Common Styles */
.form-container {
  background: white;
  padding: 0 20px;
  .form-header {
    font-size: 25px;
    text-align: center;
    padding: 20px 0 15px;
    border-bottom: 1px solid #BBB;
  }
  .form-body {
    padding: 15px 0;
    input[type=text], input[type=password], textarea {
      padding: 10px;
      font-size: 16px;
      margin-bottom: 0;
      @include border_radius(2px);
      border: 1px solid #AAA;
    }
  }
}

.footer {
  clear: both;
}

body.admin .footer, .small-footer {
  height: 50px;
  background: $dark_background;
  text-align: center;
  color: #666;
  font-size: 13px;
  line-height: 50px;
}
.wrapper {
  min-height: 100%;
}
// .pagination {
//   a, em.current {
//     border: 1px solid #CCC;
//     padding: 5px;
//   }
//   em.current {
//     background: $primary;
//     color: white;
//     font-style: normal;
//   }
//   .previous_page {
//     border: none;
//     padding: 5px;
//   }
//   .next_page {
//     border: none;
//     padding: 5px;
//   }
//   .disabled {
//     color: #CCC;
//   }
// }
// .read_more, .less {
//   font-size: .8em;
// }
// .bid_header {
//   ul#bid_menu {
//     list-style-type: none;
//     li {
//       display: inline;
//       line-height: 1.8em;
//       padding: 0 20px;
//       .border {
//         border-right: 1px solid #CCC;
//       }
//     }
//   }
// }
// .user {
//   border-bottom: 1px solid #CCC;
//   font-size: 1em;
//   padding: 20px 0;
//   margin-bottom: 20px;
//   a, strong {
//     font-size: 1.1em;
//   }
//   .user_info {
//     width: 70%;
//     span.name {
//       font-size: 1.5em;
//     }
//   }
//   .bid_choice {
//     width: 20%;
//     text-align: right;
//     .bid_box {
//       margin: 10px 0;
//       img {
//         margin-left: 10px;
//       }
//     }
//   }
//   .more, .about_less {
//     font-size: .8em;
//   }
//   img {
//     max-height: 100px;
//     float: right;
//   }
// }
// .search_box {
//   h2 {
//     padding: 0;
//     margin: 10px 0 !important;
//   }
//   hr {
//     margin: 0;
//     padding: 0;
//     border: 1px solid #CCC;
//   }
// }
// span.notification {
//   padding: 5px;
//   font-size: .8em;
//   background: #FFCA88;
//   color: white;
// }
// .bid {
//   font-size: 1em;
//   border-bottom: 1px solid #CCC;
//   padding: 20px 0;
//   margin-bottom: 20px;
//   a, strong {
//     font-size: 1.1em;
//   }
//   img.max-height {
//     max-height: 75px;
//     float: right;
//   }
//   img {
//     float: right;
//   }
//   span.mail {
//     font-size: .9em;
//   }
//   .bid_info {
//     width: 75%;
//     img {
//       margin: 10px 10px 0 0;
//     }
//   }
//   .small-text {
//     font-size: .8em;
//   }
//   .choice {
//     text-align: right;
//     width: 23%;
//     .interest_box {
//       margin: 10px 0;
//       span {
//         font-size: 1.2em;
//         margin-bottom: 5px;
//         display: block;
//       }
//       img {
//         margin-left: 10px;
//       }
//     }
//   }
// } 
// .options {
//   font-weight: $std_weight;
//   float: right;
//   a {
//     @include std_button_link;
//     font-size: .95em;
//     &:hover {
//     }
//   }
// }
// .tags {
//   background: white;
//   width: 30%;
//   padding: 20px;
//   border: 1px solid #CCC;
//   @include border_radius;
// }
// #user-about {
//   width: 65%;
//   strong.title {
//     font-size: 1.3em;
//   }
//   #profile-photo {
//     margin: 0 20px 20px 0;
//     .caption {
//       text-align: center;
//       font-weight: bold;
//       font-size: 1.2em;
//     }
//   }
// }
// #user-info-container {
//   width: 29%;
//   #send-bid {
//     text-align: center;
//     margin: 20px 0;
//     font-size: 1.3em;
//   }
// }
// #user-info {
//   padding: 20px;
//   background: white;
//   border: 1px solid #CCC;
//   @include border_radius;
//   .attr {
//     font-size: 1.2em;
//     margin-bottom: 5px;
//   }
//   .center {
//     text-align: center;
//   }
//   .small-text {
//     font-size: .9em;
//     text-align: center;
//     margin-bottom: 10px;
//   }
// }
// #bid_container {
//   width: 65%;
//   h2.center {
//     text-align: center;
//   }
//   .warning {
//     background: #ffecce;
//     padding: 20px;
//     margin-bottom: 20px;
//     @include border_radius;
//     border: 1px solid #e9c59b;
//     img {
//       position: relative;
//       top: 3px;
//     }
//   }
// }
// #profile_info_container {
//   width: 57%;
//   h2 {
//     margin: 0;
//     padding: 0;
//   }
//   .warning {
//     background: #ffecce;
//     padding: 20px;
//     margin-bottom: 20px;
//     @include border_radius;
//     border: 1px solid #e9c59b;
//     img {
//       position: relative;
//       top: 3px;
//     }
//   }
//   #profile_info {
//     padding: 20px;
//     background: white;
//     border: 1px solid #CCC;
//     @include border_radius;
//     margin-top: 5px;
//     #info {
//       margin: 0 20px;
//       .title {
//         font-size: 1.5em;
//       }
//       .title_warning {
//         color: red;
//         font-size: 1.5em;
//         background: #fceded;
//         padding: 10px;
//         font-weight: bold;
//       }
//       .attribute  {
//         margin: 10px 0 30px;
//       }
//     }
//   }
// }
// #user_info_container {
//   width: 40%;
//   h2 {
//     margin: 0;
//     padding: 0;
//     .small_title {
//       font-size: .6em;
//     }
//   }
//   #user_info {
//     background: white;
//     @include border_radius;
//     border: 1px solid #CCC;
//     padding: 20px;
//     margin: 10px 0;
//     .title_warning {
//       color: red;
//       background: #fceded;
//       padding: 5px;
//       font-weight: bold;
//       margin: 5px 0;
//     }
//   }
//   #photo {
//     margin: 10px 0;
//   }
// }
// h1, h2, h3 {
//   margin: .5em 0 1em 0;
//   padding: 0;
// }
// .search {
//   input[type=submit] {
//     margin: 0;
//   }
// }

// #edit-company-container {
//   width: 660px;
//   margin: 30px auto 0 auto;
//   .input-container {
//     width: 595px;
//   }
//   .input {
//     width: 290px;
//   }
//   .submit {
//     margin: -7px;
//   }
//   input[type=text], textarea {
//     width: 260px;
//   }
// }
// #edit-user-container {
//   width: 660px;
//   margin: 30px auto 0 auto;
//   .input-container {
//     width: 595px;
//   }
//   .input {
//     width: 290px;
//   }
//   .submit {
//     margin: -7px;
//   }
//   input[type=text], input[type=password], textarea {
//     width: 260px;
//   }
// }
// #new-bidding-container {
//   width: 660px;
//   margin: 0 auto;
//   .input-container {
//     width: 595px;
//   }
//   .input {
//     width: 290px;
//   }
//   .submit {
//     margin: -7px;
//   }
//   input[type=text], textarea {
//     width: 260px;
//   }
// }
// #login-form-container {
//   width: 450px;
//   margin: 0px auto 0 auto;
//   .input {
//     width: 350px;
//   }
//   .submit {
//     margin: 0 auto;
//     width: 360px;
//   }
//   input[type=text], input[type=password], textarea {
//     width: 325px;
//   }
// }
// #signup-form-container {
//   width: 660px;
//   margin: 30px auto 0 auto;
//   .input-container {
//     width: 595px;
//   }
//   .input {
//     width: 290px;
//   }
//   .submit {
//     margin-left: -7px;
//   }
//   input[type=text], input[type=password], textarea {
//     width: 260px;
//   }
// }
// .form-title {
//   font-size: 2em;
// }
// .signup-login {
//   margin-top: -20px;
// }
// .form {
//   padding: 30px;
//   background: $form_background;
//   @include border_radius;
//   border: 1px solid #CCC;
// }
// .input-container {
//   width: 565px;
// }
// form {
//   // .input {
//   //   margin: 0 auto 25px auto;
//   // }
//   // .success, .error {
//   //   @include border-radius(2px);
//   //   width: 565px;
//   //   margin: 0 auto 20px;
//   // }
//   // .login-error {
//   //   color: red;
//   //   background: #fceded;
//   //   padding: 0 10px 15px;
//   //   margin: 0 auto 20px;
//   //   width: 330px;
//   //   img {
//   //     position: relative;
//   //     top: 10px;
//   //   }
//   // }
//   // .error {
//   //   color: red;
//   //   background: #fceded;
//   //   padding: 5px 15px 15px;
//   //   img {
//   //     position: relative;
//   //     top: 10px;
//   //   }
//   //   .message {
//   //     margin-left: 40px;
//   //   }
//   // }
//   // .success {
//   //   background: #e6f8dd;
//   //   color: green;
//   //   padding: 0 15px 15px;
//   //   img {
//   //     position: relative;
//   //     top: 10px;
//   //   }
//   //   .error-icon {
//   //     width: 16px;
//   //     height: 16px;
//   //     position: relative;
//   //     top: 2px;
//   //   }
//   // }
//   // margin: 0 auto 0 auto;
//   // font-weight: $std_weight;
//   textarea {
//     width: 370px;
//   }
//   // input[type=submit] {
//   //   font-size: 1em;
//   //   margin-left: 7px;
//   //   background: #1FAEEB;
//   //   border: 1px solid #118EC3;
//   //   padding: 10px .5em;
//   //   @include border_radius(3px);
//   //   color: white;
//   //   &:hover {
//   //     background: #1FAEEB;
//   //     opacity: .8;
//   //   }
//   // }
//   input[type=file] {
//     width: 175px;
//   }
    
//   label {
//     font-size: 1.2em;
//   }
// }
// span.name {
//   font-size: 2em;
// }
// #home_bids, #home_tags {
//   margin-top: 10px;
// }
// #home_bids_container {
//   width: 65%;
//   h1, h2, h3 {
//     padding: 0;
//     margin: 0;
//   }
//   #home_bids {
//     h2.center {
//       text-align: center;
//     }
//   }
// }
// #home_right_container {
//   width: 30%;
//   #home_right {
//     background: white;
//     padding: 20px;
//     @include border_radius;
//     border: 1px solid #CCC;
//     li.no_decoration {
//       list-style-type: none;
//       margin-left: 20px;
//     }
//   }
// }
// #home_tags_container {
//   width: 30%;
//   h1, h2, h3 {
//     padding: 0;
//     margin: 0;
//     #home_tags {
//       background: white;
//       padding: 20px;
//       @include border_radius;
//       border: 1px solid #CCC;
//       li.no_decoration {
//         list-style-type: none;
//         margin-left: 20px;
//       }
//     }
//   }
//   .edit-profile {
//     margin: -10px 0 10px 0;
//   }
// }