$font_weight: 100;
$primary_font_family: Exo, helvetica, arial, sans-serif;
$secondary_font_family: 'Advent Pro', helvetica, arial, sans-serif;

/* Color Variables */
$primary: #0A477A;
$light_grey: #F2F2F2;
$dark_grey: #E3E3E3;
$red_error: #b94a48;
$button: #1FAEEB;
$button_red: #FF7373;
$button_green: #5CCC5C;
$button_border: #118EC3;
$button_border_red: #BF3030;
$button_border_green: #5A995A;
$dark_background: #181818;
$arrow_color: #555;
$border_color: #DDD;

/* Mixins */
@mixin border_radius($radius: 4px) {
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
  border-radius: $radius;
}

/* General Page Styles */
html, body {
  margin: 0;
  font-family: $primary_font_family;
  background: $light_grey;
  height: 100%;
  width: 100%;
  font-size: 1em;
}

h1, h2, h3, h5, h6 {
  font-weight: $font_weight;
}

a {
  color: $primary;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

hr {
  border-bottom: 1px solid $border_color;
  border-top: 0;
}

i {
  margin-top: 3px;
}

.clear {
  clear: both;
}

.right {
  float: right;
}

.left {
  float: left;
}

/* Position Styles */
.marginTop20 {
  margin-top: 20px;
}
  
.body {
  margin: 0 auto;
  color: #333;
  .content-container {
    width: 1000px;
    margin: 0 auto;
  }
  
  p {
    line-height: 140%;
    font-weight: $font_weight;
  }
}

.required {
  color: red;
}

.alert {
  padding-top: 15px;
  padding-bottom: 15px;
}

.button {
  font-size: 16px;
  background: $button;
  border: 1px solid $button_border;
  padding: 7px 10px;
  color: white;
  @include border_radius(3px);
  &:hover {
    opacity: .8;
  }
}
.button.red {
  background: $button_red;
  border: 1px solid $button_border_red;
}
.button.green {
  background: $button_green;
  border: 1px solid $button_border_green;
}
input[type=submit] {
  font-family: $primary_font_family;
}
a.button {
  color: white !important;
  &:hover {
    text-decoration: none;
  }
}

/* Arrows */
.arrow-right {
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid $arrow_color;
  margin: 4px 15px 0 0;
}

.arrow-down {
  width: 0;
  height: 0;
  border-top: 5px solid $arrow_color;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  margin: 7px 10px 0 0;
}

/* Profile Styles */
.profile {
  padding: 20px 20px 0 0;
  .photo {
     border-right: 1px solid $border_color;
     padding-right: 20px;
     margin: 0 20px 20px 20px;
  }
  .info {
    padding-left: 20px;
    .title {
      font-weight: bold;
      padding-bottom: 5px;
      font-size: 18px;
    }
    .name {
      font-size: 30px;
      margin: 5px 0 10px;
    }
    .about, .ideal-role {
      margin-bottom: 20px;
    }
    .contact-phone, .contact-email {
      padding: 5px 0;
    }
    .contact-phone, .website {
      margin-bottom: 10px;
    }
  }
}

.social {
  opacity: .5;
  margin-left: 10px;
  -webkit-transition: opacity .5s;
  -moz-transition: opacity .5s;
  -o-transition: opacity .5s;
  transition: opacity .5s;
  &:hover {
    opacity: 1;
  }
}

/* Form styles */
.field_with_errors {
  display: inline;
  input {
    border: 1px solid $red_error !important;
  }
}
.field_with_errors + label, .field_with_errors + .url-label {
  color: $red_error;
}

body.main {
  .input {
    label, .caption {
      width: 200px;
    }
    input, textarea {
      margin-left: 20px;
      margin-right: 5px;
    }
    textarea {
      width: 435px;
    }
    .url-label {
      font-size: 1em;
      width: 195px;
      display: inline-block;
      text-align: right;
    }
  }
  .input.radioButton {
    margin-bottom: 40px;
  }
  input[type=submit] {
    font-size: 16px;
    background: $button;
    border: 1px solid $button_border;
    padding: 10px 8px;
    @include border_radius(3px);
    color: white;
    &:hover {
      opacity: .8;
    }
  }
  .submit {
    margin-left: 170px;
  }
  .form-container.single-column {
    width: 450px;
    margin: 20px 0;
    border-right: 1px solid #CCC;
    .input {
      label, .caption {
        width: 150px;
      }
    }
  }
  .form-container.single-column.wide-label {
    label, .caption {
      width: 180px;
    }
    .submit {
      margin-left: 200px;
    }
  }
  .right-container {
    padding: 40px 20px 20px;
    width: 450px;
    .title {
      font-size: 25px;
    }
    .body {
      margin-top: 40px;
      font-size: 16px;
      .title {
        font-size: 20px;
      }
      em {
        margin-top: 10px;
      }
      ul {
        margin-top: 10px;
        li {
          margin-left: 20px;
        }
      }
    }
  }
  .header {
    width: 1000px;
    margin: 0 auto;
    padding: 10px 0;

    .topnav {
      width: 100%;
      padding-bottom: 10px;
    }

    .bottomnav {
      padding: 0 5px;
      margin-top: 10px;
      a, #logo {
        color: #888;
        &:hover {
          text-decoration: none;
        }
      }
      #logo {
        font-family: $secondary_font_family;
        font-size: 40px;
        span.bold {
          font-weight: bold;
          color: #666;
          margin-left: -10px
        }
      }
      ul.menu {
        list-style-type: none;
        li {
          padding-top: 5px;
          margin-left: 30px;
          font-size: 18px;
          a {
            &:hover {
              color: #333;
            }
          }
        }
      }
    }
  }
  .container {
    background: white;
    border: 1px solid #DDD;
    @include border_radius(2px);
    width: 1000px;
  }

  p.search_phrase {
    font-size: 1.5em;
    text-align: center;
    margin-top: 40px;
  }
  .catch-phrase {
    text-align: center;
    font-size: 35px;
    padding: 40px 0 55px;
  }
  .content {
    margin: 0 30px;
    @include border_radius(2px);
  }
  .job_seekers, .employers {
    padding: 25px;
    width: 419px;
    border-top: 1px solid #DDD;
    border-bottom: 1px solid #DDD;
    .title {
      font-size: 28px;
    }
    .subtitle {
      font-size: 16px;
      color: #777;
      padding: 12px 0 20px;
    }
    ul {
      font-size: 16px;
      li {
        margin-bottom: 10px;
      }
    }
  }
  .job_seekers {
    background: $light_grey;
    border-left: 1px solid #DDD;
  }
  .employers {
    background: $dark_grey;
    border-right: 1px solid #DDD;
  }
  .talking {
    font-size: 2.3em;
    margin: 40px auto 0;
    text-align: center;
    .quote-left {
      font-size: 100px;
      position: relative;
      top: 50px;
    }
    .saying {
      font-size: 22px;
    }
    .quote-right {
      font-size: 100px;
      position: relative;
      top: 60px;
    }
    span.small {
      font-size: 20px;
      line-height: 50px;
      margin: 10px 120px 0 0;
    }
  }
  .push {
    height: 198px;
  }
  .footer {
    margin-top: -200px;
    clear: both;
    height: 150px;
    min-width: 1050px;
    background: $dark_grey;
    border-top: 1px solid #CCC;
    .footer-container {
      margin: 0 auto;
      height: 110px;
      width: 1000px;
      padding: 20px 0;
      .company {
        font-family: $secondary_font_family;
        font-size: 40px;
        color: #888;
        margin: 35px 0 0 30px;
        span.bold {
          font-weight: bold;
          color: #666;
          margin-left: -10px;
        }
      }
      .slogan {
        color: #888;
        margin: 15px 0 0 50px;
        font-size: 18px;
      }
      .right {
        margin: 15px 30px 0 0;
        font-size: 20px;
        a {
          color: #555;
          &:hover {
            color: #333;
            text-decoration: none;
          }
        }
        ul.links {
          list-style-type: none;
        }
        .facebook img {
          width: 12px;
          height: 12px;
          position: relative;
          bottom: 2px;
          margin-right: 10px;
        }
        .twitter img {
          width: 22px;
          height: 22px;
          position: relative;
          bottom: 2px;
          right: 5px;
        }
        i {
          position: relative;
          top: 3px;
          margin-right: 8px;
        }
        .facebook, .twitter {
          margin-top: 10px;
        }
      }
    }
  }
}

/* Common Styles */
.form-container {
  background: white;
  padding: 0 20px;
  .form-header {
    font-size: 25px;
    text-align: center;
    padding: 20px 0 15px;
    border-bottom: 1px solid #BBB;
  }
  .form-body {
    padding: 15px 0;
    .input {
      margin-bottom: 20px;
      label, .caption {
        display: block;
        text-align: right;
        float: left;
      }
      label {
        font-size: 16px;
      }
      .caption {
        font-size: 13px;
      }
      input[type=text], input[type=password], textarea {
        padding: 10px;
        font-size: 16px;
        margin-bottom: 0;
        @include border_radius(2px);
        border: 1px solid #AAA;
      }
    }
  }
}

.footer {
  clear: both;
}

body.admin .footer, .small-footer {
  height: 50px;
  background: $dark_background;
  text-align: center;
  color: #666;
  font-size: 13px;
  line-height: 50px;
}
.wrapper {
  min-height: 100%;
}