- content_for :title do
  Edit Your Profile

- form_for [:seekers, @user], :url => {:action => 'update'}, :html => {:multipart => true} do |f|
  
  %h1= @user.first_name + ' ' + @user.last_name
  .left-column.left
    = image_tag @user.photo.url(:regular)
    %br
    = f.file_field :photo
  
  .right-column.left
    .right-column-container
      = render :partial => 'form', :locals => { :f => f}
