.navbar.pull-right
  %ul.nav
    %li= link_to 'Search', employers_search_path, class: 'navitem'
    %li= link_to 'Bids', employers_bids_path, class: 'navitem'
    %li.dropdown
      %a.dropdown-toggle{:href => '#', 'data-toggle' => 'dropdown'}
        = current_user
        %b.caret
      = dropdown_menu_for(current_user)