%ul.dropdown-menu
  %li
    = link_to employers_edit_path do
      %i.icon-pencil
      Edit User Info
  - unless current_user.company.nil? || current_user.company.blank?
    %li
      = link_to edit_employers_company_path do
        %i.icon-home
        Edit Company
  %li.divider
  %li= link_to 'Logout', logout_path