.quick-nav
  -#= link_to "Login", login_path
  -#= link_to "Sign Up", signup_path
  .menuitem= link_to "Contact Us", ''
  .menuitem.largemargin= link_to image_tag('/images/facebook_2.png'), ''
  .menuitem.smallmargin= link_to image_tag('/images/twitter_2.png'), ''