.nav
  %ul
    %li= link_to "Home ", root_url
    %li= link_to "About Us ", root_url
    %li= link_to "How It Works ", root_url
    //%li= link_to "Login ", login_path
    %li.noborder= link_to "Sign Up", signup_path