%h2= @seeker.to_s + "'s Profile"

%p
  = image_tag @seeker.photo.url(:regular)

%p
  About Me:
  = @seeker.about_me
   
%p
- if !@seeker.has_resume?
  This User has not Uploaded a resume
-else
  %p
    = link_to "View My Resume", @seeker.resume.url