.navbar
  %ul.nav.pull-right
    %li.dropdown
      %a.dropdown-toggle{:href => '#', 'data-toggle' => 'dropdown'}
        = current_user
        %b.caret
      %ul.dropdown-menu
        %li
          = link_to job_seekers_edit_path do
            %i.icon-pencil
            Edit User Info

        %li
          = link_to job_seekers_edit_info_path do
            %i.icon-user
            Edit Profile
        %li.divider
        %li= link_to 'Logout', logout_path